
/*.ui-tabs-nav 	{
position: relative;
				}

.ui-tabs-nav:after 	{
	float: right;
	display: block;
	position: relative;
	content: url(icons/logoWFPsmall.png);
					}*/

a 	{
    text-decoration:none;
	font-weight:bold;
    color:#175e88;
 	}

a:hover {
	text-decoration:none;
	font-weight:bold;
	color:#FF8C00;
		}

p {
    text-align: justify;
   }

.p1 {
      padding-left:5px;
      padding-right:20px;
      display: block;
     }

.titre1 {
  padding-top:15px;
  padding-bottom:15px;
  text-align:center;
          }

.titre2 {
	color:#3ba2de;
	font-weight:bold;
		}

.titre3 {
	color:#3ba2de;
	font-style: italic;
		}


.buttonInstructions.bis {
  margin-left:-5px;
  padding-bottom:10px;
  margin-bottom:20px;
  text-align:justify;
                            }

.valid.change {
  	float:right;
    padding-right:20%;
    padding-bottom:10px;
    text-align: center;
      		   }



/*.optionsBar {
    border-color: #175e88;
    border-width: 2px;
    border-radius: 12px;
	border-style: outset;
    margin: 1px;
	margin-bottom: 5px;
    min-height: 54px;
	max-width: 100%;
	font-size: 12pt;
	background-size: 50pt;
	padding-right: 52pt;
	font-family: Helvetica, Arial, "Lucida Sans Unicode", Verdana, sans-serif;
	padding-bottom: 2px;
	overflow: hidden;
            }*/


/*.controlBar {
	background-color: #d3eaf8;
	border-color: #175e88;
	border-width: 3px;
	margin-bottom: 5px;

			}*/

/*.logo 	{
	width: 81%;
	height: 81%;
	padding-top: 10px;
	padding-bottom: 10px;
		}*/


@import url("../uicore/uicore.css");

#homelink {
			background: url('/localconfig/icons/iriwh128.png') left no-repeat;
			background-size: 95%;
			opacity: 0.75;
		}
#homelink select {
max-width: 104px;

}
/*Selector de ID*/
#homelink:hover {
     background-size: 100% auto;
     color: blue;
     opacity: 1;
}

.optionsBar {
     background: url('/localconfig/icons/iriwh128.png') right no-repeat;
     background-size: 70px;
     background-position: 99%;
}
